body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: seashell;
}

.square {
  width: 33%;
  height: 33%;
  border: 2px solid black;
  font-size: 100px;
}

.board {
  width: 600px;
  height: 600px;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background: #8acaca;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}